{% extends 'TAIApp/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<ul class="list-articles">
    {% for article in articles %}
    {% if article.is_published%}
    <li>
        <div class="article-panel">
            <p class="first">Author name: {{article.author_id}}</p>
            <p class="last">Last update: {{article.updated_at|date:"d-m-Y H:i:s"}}</p>
        </div>
        {% if article.photo %}
        <p><img class="img-article-left thumb" src="{{article.photo.url}}"></p>
        {% endif %}
        <h2>{{article.title}}</h2>
        <p>{{article.content|truncatewords:2}}</p>
        <p class="link-read-post"><a href="{{article.get_absolute_url}}">Read article</a></p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock content %}